@import "tailwindcss";


@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 15 23 42;
    --card: 255 255 255;
    --border: 228 228 231;
  }
  
  .dark {
    --background: 9 9 11;
    --foreground: 250 250 250;
    --card: 24 24 27;
    --border: 39 39 42;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}